<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafetinesUES"
        tools:targetApi="31">


        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Local.ActualizarLocalActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Local.EliminarLocalActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Local.ConsultarLocalActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Local.InsertarLocalActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Local.LocalMenuActivity" />

        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Facultad.InsertarFacultadActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Facultad.EliminarFacultadActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Facultad.ConsultarFacultadActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Facultad.ActualizarFacultadActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Facultad.FacultadMenuActivity" />

        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Encargado.ActualizarEncargadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Encargado.ConsultarEncargadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Encargado.EliminarEncargadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Encargado.InsertarEncargadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.pm11074.Encargado.EncargadoMenuActivity" />

        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Zona.ZonaMenuActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Zona.InsertarZonaActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Zona.ConsultaZonaActivity"/>
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Zona.EliminarZonaActivity"/>
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Zona.ActualizarZonaActivity"/>

        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Empleado.EmpleadoMenuActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Empleado.InsertarEmpleadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Empleado.ConsultarEmpleadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Empleado.EliminarEmpleadoActivity" />
        <activity android:name="sv.ues.fia.eisi.cafetinesues.mc15048.Empleado.ActualizarEmpleadoActivity" />
        <activity
            android:name=".IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"> </activity>
    </application>

</manifest>